/*styles/main.css*/

body{
background: red;
font-family: 'Inconsolata', monospace;
}
h1{color: white;
}

ol{font-weight: bold;color: white
}

a{

	text-decoration: none;color:black
}
	#my_bar{
		border-style: solid;
		border-color:black;
		border-radius: 15px;
		background: white;
		}
	#my_name{
		text-align: center;
	}

	p{
		text-align: center;
	}
	.margin_borders{
		border-style: dashed;
		border-color: white;
			margin-top:100px;
			margin-left:100px;
			margin-right:100px;