/*styles/main.css*/

body{
background: black;
font-family: 'Roboto Mono', monospace;
color: white;
}
h1{color: white;
}
h5{
	color: white;
}

ol{font-weight: bold;
}
li	{
	color: white
}

a{

	text-decoration: none;color:white
}
	#my_bar{
		border-style: solid;
		border-color:black;
		border-radius: 15px;
		background: black;
		color: white;
		}
	#my_name{
		color: white;
		text-align: center;
		text-decoration: underline;
	}

	p{
		text-align: center;
	}
	.paragraph{
		border-style:solid;
		border-radius: 15px;
		margin: 20px 25px 30px 30px;
		color: white;

	}
	#img-float{
	float: left;
	margin: 30px;
	width: 450px;
}

#cake {
	border:15px solid pink;
	padding: 30px;
	margin: 20px;
}
	
	.p-class{
		margin: 15px;
		padding:15px;
	}
	#div-float{
		overflow: auto;
		border: solid 5px;
	}
	@media only screen and (max-width: 600px) {
		#img-float{
			float: none;
			margin: 30px;
			width: 300px;
		}
	}
	#div-float{
		overflow: auto;
		border: solid 5px pink;
		background: black;
	}
}