/*styles/main.css*/

body{
background: black;
font-family: 'Inconsolata', monospace;
color: white;
}
h1{color: white;
}

ol{font-weight: bold;
}
li	{
	color: white
}

a{

	text-decoration: none;color:white
}
	#my_bar{
		border-style: solid;
		border-color:black;
		border-radius: 15px;
		background: black;
		color: white;
		}
	#my_name{
		color: white;
		text-align: center;
		text-decoration: underline;
	}

	p{
		text-align: center;
	}
	.paragraph{
		border-style:solid;
		border-radius: 15px;
		margin: 20px 25px 30px 30px;
		color: white;

	}
	